
body {
    background-color: rgb(149, 61, 231);
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);

}

#grid {
    color: blue;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.cell {
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(216, 0, 0);
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    text-align: center;
}
.med {font-size: 1.4rem;}

#black {background-color: #ffffff;}
h6 {
    font-size: 1.4rem;
}
@media(max-width: 600px){
    body{
        background-color: rgb(151, 63, 223);
    }

    h1{
        font-size: 24px;
        color: rgb(0, 0, 0);
        

    }

    p{
        font-size: 16px;
        color: rgb(0, 0, 0);

    }
}

@media(min-width: 601px) and (max-width: 1024px){
    h1{
        font-size: 32px;
    }

    p{
        font-size: 18px;
    }
}

@media(min-width: 1024px){
    body{
        background-color: rgb(152, 47, 221);
        max-width: 800px;
        margin: 0 auto;
    }

    h1{
        font-size: 48px;
    }

    p{
        font-size: 20px;
    }
}